<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/favicon.ico">
    <meta name="keywords" content="DJs In Bloomington IL, Wedding DJs In Bloomington IL, Wedding DJ Chicago IL, Wedding dj illinois, wedding planner illinois, illinois wedding planner, chicago wedding planner Chicago IL Wedding DJ, Chicago Wedding DJ, Wedding DJ Chicago, Wedding DJ Peoria, Bloomington IL Djs, DJ Bloomington IL, Wedding DJ Bloomington IL, DJ Champaign IL, DJ Peoria IL, DJ Naperville IL, DJ Chicago IL, DJ Ottawa IL, DJ LaSalle IL, DJ Dekalb IL, DJ Rockford IL, Wedding DJ IL, DJ Schaumburg IL, DJ Lake Forrest IL, DJ Evanston IL, IL Wedding DJ, Event Entertainment Bloomington IL, Christmas Parties and Holiday Party service as well!, Wedding DJ prices, Wedding DJ playlist, Wedding DJsongs, Wedding DJ cost, Wedding DJ music, Wedding DJ St. Louis, MO " />
    <meta name="description" content="Dynamic Sound DJs In Bloomington, IL. Dynamic Sound Provides Personalized Entertainment For Your Special Event! If You Are Planning A Wedding Reception, A Corporate Function or A Formal Event Dynamic Sound Will Guarantee That You Will Experience The Best Party Ever!  Wedding planner Chicago illlinois and wedding dj chicago illinois. Wedding DJs in Illinois, compare Wedding DJ ratings and reviews, and get estimates from Wedding DJs in Bloomington, IL. " />
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>DJs In Bloomington IL | Bloomington Normal Wedding DJ | Central Illinois Wedding DJ | Illinois Wedding DJ | Wedding DJ Chicago IL | Dynamic Sound DJ Service Dennis Luna An Excellent Choice</title>
    
    <script>

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17597941-7']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <meta name="google-site-verification" content="0nyNxPslRsowHsI94gv_wNo6cDMBbv-PcmEIMTGQvUo" />
    <meta name="google-site-verification" content="_3YfIEEAR236XEfpIh8UqHPvNaMTDcbZafQNurW5jgw" />
    <meta name="google-site-verification" content="T4JgXKbX_JLKt1Ky1EcXIuGcUcS16-3A7ULuxooZBvI" />

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-39681213-1', 'dynamicweddings.com');
        ga('send', 'pageview');

    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @Html.Partial("Header")
    @RenderBody()
    @Html.Partial("Footer")

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
